body {
  background-color:#ffffff;
  font-family: "sans-serif";
  margin:0; 
}
h1{
  background:#3B638B;
  color: #ffffff;
  text-align:center;
  text-shadow: 1px 1px #000000;
  /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /*Single value short hand*/
  padding: 40px;
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;
}